<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/schema/mybatis-3-mapper.dtd">
<mapper namespace="com.niit.mapper.UserMapper">
    <!--SQL公共语句-->
    <sql id="selectAllColumns" >
        select userid,username,password,sex,id_card,phone_number,balance
    </sql>
    <!--查询所有列-->
    <select id="selectAll" resultType="user">
        <include refid="selectAllColumns"></include>
        from user
    </select>
    <!--根据用户ID查询-->
    <select id="selectById" parameterType="int" resultType="user">
        <include refid="selectAllColumns"></include>
        from user where userid = #{userid}
    </select>

    <!--查询余额-->
    <select id="selectBalance" parameterType="String" resultType="user">
        select balance from user where username = #{username}
    </select>

    <!--添加用户-->
    <insert id="insertUser" parameterType="user">
        insert into user (username,password,sex,id_card,phone_number,balance)
        VALUES (
        #{username},
        #{password},
        #{sex},
        #{idCard},
        #{phoneNumber},
        #{balance})
    </insert>
    <!--批量添加-->
    <insert id="batchInsert" parameterType="user">
        insert into user (username,password,sex,id_card,phone_number,balance)
        VALUES
        <foreach collection="users" item="user" open="(" separator="),(" close=")">
            #{user.username},
            #{user.password},
            #{user.sex},
            #{user.idCard},
            #{user.phoneNumber},
            #{user.balance}
        </foreach>
    </insert>
    <!--修改指定ID的用户-->
    <update id="updateUser" parameterType="user">
        update user set
        userid = #{userid},
        username = #{username},
        password = #{password},
        sex = #{sex},
        id_card = #{idCard},
        phone_number = #{phoneNumber},
        balance = #{balance}
        where userid = #{userid}
    </update>
    <!--删除指定ID的用户 -->
    <delete id="deleteUser" parameterType="user">
        delete from user where userid = #{userid}
    </delete>
    <!--验证用户登录 -->
    <select id="loginCheck" resultType="user" parameterType="String">
        <include refid="selectAllColumns"></include>
        from user where username = #{username} and password = #{password}
    </select>

</mapper>